{% load staticfiles %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'jitterbunkapp/style.css' %}"
/>

<h1>Create User</h1>
<form action="{% url 'jitterbunk:create_user' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" id="username" />
    <input type="submit" value="Join" />
</form>

{% if user_list %}
<h1>Newest Users</h1>
<ul>
  {% for user in user_list %}
  <li>
    <a href="{% url 'jitterbunk:user' user.id %}"> {{ user.username }} </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No users exist!</p>
{% endif %}
